body {
  margin: auto;
  text-align: center;
  width: 80%;
}

.div-form {
  margin-top: 10px;
}

.btn {
  margin-bottom: 10px;
}

.alert {
  background-color: red;
  color: white;
  margin: 10px;
}

.radio {
  margin: 10px;
}
